body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
}

.addHabitBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
.habitrow {
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.habitBox {
  height: 100%;
  width: 100%;
  border-right: .5px solid rgba(255,255,255, .4);
  transition: .1s all ease-in;
}
.habitBox:hover {
  cursor: pointer;
}
.habitBox:active {
  transform: scale(1.05);
}
.habitBox--success {
  background-color: #2ecc71;
}
.habitBox--failure {
  background-color: #e74c3c;
}
.habitBox--skip {
  background-color: #9b59b6;
}
.habitBox--noData {
  background-color: #ecf0f1;
}
.habitBlockText {
  margin: 20px 0;
  display: block;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 5px;
  background: #eee;
  width: 100%;
}
.footer p {
  font-size: 12px;
}
